summit2013/lab1/src/main/resources/LoanProcessing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoanProcessing" targetNamespace="urn:mortgages:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:mortgages:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:mortgages:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:mortgages:1.0">
  <xs:element name="applicant" type="tns:applicant"/>
  <xs:complexType name="applicant">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="applicationDate" type="xs:dateTime"/>
      <xs:element name="approved" type="xs:boolean"/>
      <xs:element name="creditScore" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="process" type="tns:process"/>
  <xs:complexType name="process">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicant" type="tns:applicant"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="process">
    <wsdl:part name="parameters" element="tns:process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoanProcessingPortType">
    <wsdl:operation name="process">
      <wsdl:input name="process" message="tns:process">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanProcessingSoapBinding" type="tns:LoanProcessingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="process">
      <soap:operation soapAction="process" style="document"/>
      <wsdl:input name="process">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanProcessing">
    <wsdl:port name="LoanProcessingPort" binding="tns:LoanProcessingSoapBinding">
      <soap:address location="http://localhost:8080/mortgages/LoanProcessing"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
