summit2013/lab3/src/main/resources/CreditService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditService" targetNamespace="http://mortgages/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mortgages/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mortgages/" targetNamespace="http://mortgages/" version="1.0">
<xs:element name="applicant" type="tns:applicant"/>
<xs:complexType name="applicant">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="applicationDate" type="xs:dateTime"/>
      <xs:element name="approved" type="xs:boolean"/>
      <xs:element name="creditScore" type="xs:int"/>
      <xs:element minOccurs="0" name="income" type="xs:double"/>
      <xs:element name="loanAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="assignScoreResponse">
    <wsdl:part name="return" element="tns:applicant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignScore">
    <wsdl:part name="arg0" element="tns:applicant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreditServicePortType">
    <wsdl:operation name="assignScore">
      <wsdl:input name="assignScore" message="tns:assignScore">
    </wsdl:input>
      <wsdl:output name="assignScoreResponse" message="tns:assignScoreResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditServiceSoapBinding" type="tns:CreditServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="assignScore">
      <soap:operation soapAction="assignScore" style="document"/>
      <wsdl:input name="assignScore">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignScoreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditService">
    <wsdl:port name="CreditServicePort" binding="tns:CreditServiceSoapBinding">
      <soap:address location="http://localhost:8080/mortgages/CreditService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
