summit2013/lab3/src/main/resources/FancyCredit.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mortgages/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CreditWebServiceService" targetNamespace="http://mortgages/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://mortgages/" targetNamespace="http://mortgages/"
			version="1.0">
			<xs:element name="applicant" type="tns:applicant" />
			<xs:complexType name="applicant">
				<xs:sequence>
					<xs:element name="age" type="xs:int" />
					<xs:element minOccurs="0" name="applicationDate" type="xs:dateTime" />
					<xs:element name="approved" type="xs:boolean" />
					<xs:element name="creditScore" type="xs:int" />
					<xs:element name="income" type="xs:double" />
					<xs:element name="loanAmount" type="xs:double" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="assignScoreResponse">
		<wsdl:part element="tns:applicant" name="applicant">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="assignScore">
		<wsdl:part element="tns:applicant" name="applicant">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CreditWebService">
		<wsdl:operation name="assignScore">
			<wsdl:input message="tns:assignScore" name="assignScore">
			</wsdl:input>
			<wsdl:output message="tns:assignScoreResponse" name="assignScoreResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditWebServiceServiceSoapBinding"
		type="tns:CreditWebService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="assignScore">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="assignScore">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="assignScoreResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditWebServiceService">
		<wsdl:port binding="tns:CreditWebServiceServiceSoapBinding"
			name="CreditWebServicePort">
			<soap:address location="http://localhost:8080/CreditService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>