summit2013/lab2/src/main/resources/QualificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="QualificationService" targetNamespace="urn:lab2:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:lab2:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:lab2:1.0" targetNamespace="urn:lab2:1.0" version="1.0">
<xs:element name="applicant" type="tns:applicant"/>
<xs:complexType name="applicant">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="applicationDate" type="xs:dateTime"/>
      <xs:element name="approved" type="xs:boolean"/>
      <xs:element name="creditScore" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="qualifyResponse">
    <wsdl:part name="return" element="tns:applicant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="qualify">
    <wsdl:part name="arg0" element="tns:applicant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="QualificationServicePortType">
    <wsdl:operation name="qualify">
      <wsdl:input name="qualify" message="tns:qualify">
    </wsdl:input>
      <wsdl:output name="qualifyResponse" message="tns:qualifyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QualificationServiceSoapBinding" type="tns:QualificationServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="qualify">
      <soap:operation soapAction="qualify" style="document"/>
      <wsdl:input name="qualify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="qualifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QualificationService">
    <wsdl:port name="QualificationServicePort" binding="tns:QualificationServiceSoapBinding">
      <soap:address location="http://localhost:8080/lab2/QualificationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
